body {
  background-color: rgb(231, 235, 232);
}
.timer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  // align-self: baseline;
}

.value {
  font-family: 'Roboto Mono', monospace;
  font-size: 80px;
  margin-bottom: 24px;
}
.label {
  text-transform: uppercase;
  background-color: #3f51b5;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 5px;
}
